body {
    background-color: aqua ;
}
.primeira {
    background-color: chocolate;
    width: 180px;
    height: 50px;
}
.segunda {
    background-color: plum;
    width: 180px;
    height: 50px;
}
.terceira {
    background-color: darkseagreen;
    width: 180px;
    height: 50px;
}